{% load static %}
<div class="row answer">
    <div class="col-2 answer-left">
        <img src="{% static "img/avatar.png" %}" alt="avatar">
        <div class="answer-rating">
            <div class="badge bg-secondary">{{ answer.rating }}</div>
            <div>
                <a href="#">
                    <svg viewBox="-10 -10 20 10" width="20" height="10">
                        <path d="M-10,0 L0,-10 10,0"/>
                    </svg>
                </a>
                <a href="#">
                    <svg viewBox="-10 0 20 10" width="20" height="10">
                        <path d="M-10,0 L0,10 10,0"/>
                    </svg>
                </a>
            </div>
        </div>

    </div>
    <div class="col-10 answer-right">
        <div class="answer-text">{{ answer.text }}</div>
        <div class="answer-footer">
            <input class="form-check-input" type="checkbox" {{ answer.is_checked }}>
            <span>Correct!</span>
        </div>
    </div>
</div>