{% load static %}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2">
                <a href="{% url "index" %}"><img src="{% static "img/logo.png" %}" id="logo-img"></a>
            </div>
            <div class="col-6">
                <form>
                    <input type="search" class="form-control form-control-dark" placeholder="Search...">
                </form>
            </div>
            <div class="col-1">
                <a href="{% url "ask" %}"><button type="button" class="btn btn-warning">Ask!</button></a>
            </div>
            {% if user.is_authenticated %}
                <div class="col-1">
                    <img src="{{ user.profile.avatar.url }}" id="header-img">
                </div>
            {% endif %}
            <div class="col">
                {% if user.is_authenticated %}
                    <div class="row" id="profile-name">
                        <span id="profile-name">Hello, {{ user.username }}</span>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <a href="{% url "setting" %}" class="nav-link px-2 text-white custom-link" id="profile-link">Profile</a>
                        </div>
                        <div class="col">
                            <a href="{% url "logout" %}?continue={{ request.path }}" class="nav-link px-2 text-white custom-link" id="logout-link">LogOut</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url "login" %}" class="px-2 text-white custom-link">LogIn</a>
                    <a href="{% url "signup" %}" class="px-2 text-white custom-link">SignUp</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>