{% load static %}
<div class="row question">
    <div class="col-2" id="question-left">
        <img src="{% static "img/avatar.png" %}" alt="avatar">
        <div id="rating">
            <div class="badge bg-secondary">{{ question.rating }}</div>
            <div>
                <a href="#">
                    <svg viewBox="-10 -10 20 10" width="20" height="10">
                        <path d="M-10,0 L0,-10 10,0"/>
                    </svg>
                </a>
                <a href="#">
                    <svg viewBox="-10 0 20 10" width="20" height="10">
                        <path d="M-10,0 L0,10 10,0"/>
                    </svg>
                </a>
            </div>
        </div>

    </div>
    <div class="col-10" id="question-right">
        <div id="question-header">
            <a href="{% url "question" 1 1 %}">How {{ question.title }}?</a>
        </div>
        <div id="question-text"> {{ question.text }}</div>
        <div id="question-footer">
            <a href="{% url "question" 1 1 %}">Answers({{ question.answer_cnt }})</a>
            <span>
                <span class="badge bg-warning text-dark">с++</span>
                <span class="badge bg-warning text-dark">libs</span>
                <span class="badge bg-warning text-dark">linux</span>
                <span class="badge bg-warning text-dark">mapnik</span>
            </span>
        </div>
    </div>
</div>