{% load static %}
<div class="row question">
    <div class="col-2" id="question-left">
        <img src="{% static "img/avatar.png" %}" alt="avatar">
        <div id="rating">
            <div class="badge bg-secondary">4</div>
            <div>
                <a href="#">
                    <svg viewBox="-10 -10 20 10" width="20" height="10">
                        <path d="M-10,0 L0,-10 10,0"/>
                    </svg>
                </a>
                <a href="#">
                    <svg viewBox="-10 0 20 10" width="20" height="10">
                        <path d="M-10,0 L0,10 10,0"/>
                    </svg>
                </a>
            </div>
        </div>

    </div>
    <div class="col-10" id="question-right">
        <div id="question-header">
            <a href="#">How use mapnik lib?</a>
        </div>
        <div id="question-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tempora optio illo quod
            alias suscipit quam consequuntur minima expedita. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Fuga tempora optio illo quod
            alias suscipit quam consequuntur minima expedita.Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Fuga tempora optio illo quod
            alias suscipit quam consequuntur minima expedita.

        </div>
        <div id="question-footer">
            <a href="/question/1/">Answers(3)</a>
            <span>
                                    <span class="badge bg-warning text-dark">с++</span>
                                    <span class="badge bg-warning text-dark">libs</span>
                                    <span class="badge bg-warning text-dark">linux</span>
                                    <span class="badge bg-warning text-dark">mapnik</span>
                                </span>
        </div>
    </div>
</div>