/* Common */
.custom-link {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.img-border {
    border: 4px dashed rgb(255, 183, 0);
    border-radius: 4px;
}

.custom-link:hover {
    text-decoration-style: dotted;
}

/* Left column */
#left-block-header {
    margin-top: 2px;
    text-align: center;
    font-size: 50px;
}

#left-block-header a {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Question section */
.question {
    background-color: rgba(14, 148, 148, 0.103);
    margin: 10px;
    padding: 7px;
    border: 4px dashed rgb(255, 183, 0);
    border-radius: 10px;
}

#question-right {
    position: relative;
}

#question-header {
    font-size: 30px;
}

#question-text {
    margin-bottom: 30px;
}

#question-footer {
    position: absolute;
    bottom: 0px;
}

#question-footer a {
    margin-right: 20px;
}

#question-footer > span > span {
    margin-left: 10px;
}

#question-left img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border: 4px dashed rgb(255, 183, 0);
    border-radius: 4px;
}

#rating .badge{
    min-width: 60px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 6px;
}

#rating div {
    margin-top: 6px;
    float: left;
}

#rating svg {
    display: block;
    padding: 0px;
    margin: 3px;
}

/* Right block */
#pop-tags-list span {
    margin-left: 10px;
    margin-bottom: 5px;
}
.right-col-header {
    margin-top: 15px;
    font-size: 30px;
}

/* Header */
#profile-name {
    font-size: 20px;
    text-align: center;
}

#profile-link {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-align: right;
}

#profile-link:hover {
    text-decoration-style: dotted;
}

#logout-link {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-align: left;
}

#logout-link:hover {
    text-decoration-style: dotted;
}

#logo-img {
    margin-left: auto;
    display: block;
}

#header-img {
    height: 80px;
    margin-left: auto;
    display: block;
    border: 4px dashed rgb(255, 183, 0);
    border-radius: 4px;
}

/*See-question*/
.answer-spacer {
    border-top: 4px solid rgb(255, 183, 0);
}

/* Answer section */
.answer {
    background-color: rgba(14, 148, 148, 0.103);
    margin: 10px;
    padding: 7px;
    border: 4px dashed rgb(255, 183, 0);
    border-radius: 10px;
}

.answer-right {
    position: relative;
}

.answer-text {
    margin-bottom: 30px;
}

.answer-footer {
    position: absolute;
    bottom: 0px;
}

.answer-left img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border: 4px dashed rgb(255, 183, 0);
    border-radius: 4px;
}

.answer-rating .badge{
    min-width: 60px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 6px;
}

.answer-rating div {
    margin-top: 6px;
    float: left;
}

.answer-rating svg {
    display: block;
    padding: 0px;
    margin: 3px;
}

.answer-spacer + form {
    margin-bottom: 100px;
}

/* Login */
form > button {
    float: left;
}
form > button + div {
    float: left;
}

/* SignUp */
#reg-form {
    margin-bottom: 130px;
}

/* Setting */
#setting-avatar {
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}
