{% extends "include/base.html" %}
{% load static %}
{% block header %}
    {% include "include/header_login.html" %}
{% endblock %}
{% block left_column %}
    <div id="left-block-header">
        <span>{{ header_text }}</span>
        <a href="{% url url_to %}">{{ url_name }}</a>
    </div>
    <!-- Блок превью вопроса -->
    {% for question in page.object_list %}
        {% include "include/question_index.html" %}
    {% endfor %}
    <!-- Конец блок превью вопроса -->
    <!-- Пагинация, включает только когда много элементов -->
    {% if page.has_other_pages %}
        {% include "include/paginator.html" %}
    {% endif %}
{% endblock %}