{% extends "include/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block left_column %}
    <div id="left-block-header">Login</div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form novalidate action="{% url "login" %}?{{ request_get_params }}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Submit" %}
                <a href="{% url "signup" %}" class="btn btn-link custom-link" id="login-create-acc">Create account.</a>
            </form>
        </div>
    </div>
{% endblock %}