{% extends "include/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block left_column %}
    <div id="left-block-header"></div>
    {% include "include/question_question.html"%}
    <hr class="answer-spacer">
    <!-- Блок ответа -->
    {% for answer in page.object_list %}
        {% include "include/answer.html" %}
    {% endfor %}
    <!-- Блок ответа -->
    {% if page.has_other_pages %}
        {% include "include/paginator.html" %}
    {% endif %}
    <hr class="answer-spacer">
    {% if user.is_authenticated and form %}
        <form novalidate action="{{ request.path }}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Answer" %}
        </form>
    {% endif %}
{% endblock %}
