{% extends "include/base.html" %}
{% load static %}
{% block right_column %}
    <div id="left-block-header"></div>
    {% include "include/question_index.html" %}
    <hr class="answer-spacer">
    <!-- Блок ответа -->
    {% for i in answer_cnt %}
        {% include "include/answer.html" %}
    {% endfor %}
    <!-- Блок ответа -->
    <hr class="answer-spacer">
    {% if pagination_info.is_enabled %}
        {% include "include/paginator.html" %}
    {% endif %}
    <form class="needs-validation" novalidate>
        <div class="mb-3">
            <textarea class="form-control" id="answer-text-area" rows="5" placeholder="Write your answer here..."
                      required></textarea>
            <div class="invalid-feedback">Please specify your answer.</div>
        </div>
        <button type="submit" class="btn btn-warning">Answer</button>
    </form>
{% endblock %}
