{% extends "include/base.html" %}
{% load static %}
{% block header %}
    {% include "include/header_login.html" %}
{% endblock %}
{% block left_column %}
    <div id="left-block-header">Setting: Robin­son</div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form id="reg-form" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="setting-login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="setting-login" maxlength="30" value="StackOverflow"
                           required>
                    <div class="invalid-feedback">Please enter login</div>
                    <div class="valid-feedback">It's ok!</div>
                </div>
                <div class="mb-3">
                    <label for="setting-email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="setting-email" value="name@example.com"
                           maxlength="50" required>
                    <div class="invalid-feedback">Please enter a valid email address</div>
                    <div class="valid-feedback">It's ok!</div>
                </div>
                <div class="mb-3">
                    <label for="setting-nick" class="form-label">NickName</label>
                    <input type="text" class="form-control" id="setting-nick" maxlength="30" value="Robin­son" required>
                    <div class="invalid-feedback">Please enter nickname</div>
                    <div class="valid-feedback">It's ok!</div>
                </div>
                <div class="mb-3">
                    <label for="reg-avatar" class="form-label">Upload your new avatar</label>
                    <img src="{% static "img/avatar.png" %}" class="img-border" id="setting-avatar">
                    <input class="form-control" type="file" id="reg-avatar">
                    <div class="valid-feedback">It's ok!</div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}