{% extends "include/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block left_column %}
    <div id="left-block-header">Registration</div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form id="reg-form"  novalidate enctype="multipart/form-data" method="post" action="{% url "signup" %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Register!" %}
            </form>
        </div>
    </div>
{% endblock %}
